table {
    top:20%;
    margin: 1%;
    border-spacing: 0px;
}

td {
    width: 25%;
    text-align: center;
    font-size: 3vh;
    margin: 0%;
}

th {
    width: 25%;
    font-size: 4vh;
}

tr:nth-child(even) {
    background: #CCC; 
    margin-left: 0%;
    margin-right: 0%;
}

tr:nth-child(odd) {
    background: #FFF;
    margin-left: 0%;
    margin-right: 0%;
}

.topHeading {
    height: 20%;
    margin: 1%;
    margin-top:0%;
    display: flex;
    justify-content: space-between;
}

h2 {
    font-size: 4vh;
    text-align:right;

}

h1 {
    font-size: 4vh;
    text-align:center;

}

h3 {
    font-size: 4vh;
    text-align:left;

}