table {
    top:20%;
    margin-top: 1%;
    border-spacing: 0;
    margin-left: 0;
    margin-right: 0;
}

td {
    width: 25%;
    text-align: center;
    font-size: 3vh;
    margin: 0;
    padding:1%;
}

th {
    background-color:#10819e;
    width: 25%;
    font-size: 4vh;
    color: #fefefe;
    padding:2%;
}

tr:nth-child(odd) {
    background: #fefefe; 
    margin-left: 0;
    margin-right: 0;
    color: #333333;
    font-family: "Open Sans";
}

tr:nth-child(even) {
    background: #d4d4d4;
    margin-left: 0;
    margin-right: 0;
    color: #333333;
    font-family: "Open Sans";
}

.topHeading {
    height: 20%;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

h2 {
    font-size: 4vh;
    text-align:right;
    margin: 1%;
    color: #333333;
    font-family: "Open Sans"
}

h1 {
    font-size: 5vh;
    text-align:center;
    margin: 1%;
    color: #10819e;
    font-family: "Open Sans"
}

h3 {
    font-size: 4vh;
    text-align:left;
    margin: 1%;
    color: #333333;
    font-family: "Open Sans"
}